.invest {
    .banner {

        .banner-title {
            position: absolute;
            top: 61%;
            left: 118px;
        }

        .banner-title__item {
            color: #ffffff
        }
    }
}