.banner {
    position: relative;
    height: 1080px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }

    .banner-title {
        position: absolute;
        top: 15%;
        left: 40px;

        .banner-title__item {
            font-size: 68px;
        }
    }
}